/* CartItem component styles */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  }
  
  .cart-item h4 {
  font-size: 18px;
  margin: 0;
  }
  
  .cart-item p {
  font-size: 16px;
  margin: 0;
  }
  
  
  .cart-item button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  }
 
  
  .cart-item button:hover {
  background-color: #c0392b;
  }
  
  /* Cart component styles */
  .cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 80px;
  background-color: #c5dde3;
  }
  
  .cart h3 {
  font-size: 20px;
  margin-top: 0;
  }
  
  /* CartPage component styles */
  .cart-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  }
  
  .cart-page h1 {
  font-size: 32px;
  margin-bottom: 20px;
  }

  button.order-btn {
    background-color: #2ecc71;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  button.order-btn:hover {
    background-color: #27ae60;
  }
  
  .remove-button {
    color: red;
  }