.navbar {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .nav_button {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav_button:hover {
    color: #007bff;
  }
  